<div id="<%= dom_id itinerary %>">
  <p>
    <strong>Description:</strong>
    <%= itinerary.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= itinerary.location %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= itinerary.datetime %>
  </p>

</div>
