<h1>Editing itinerary</h1>

<%= render "form", itinerary: @itinerary %>

<br>

<div>
  <%= link_to "Show this itinerary", @itinerary %> |
  <%= link_to "Back to itineraries", itineraries_path %>
</div>
