<h1>Editing list</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Show this list", workspace_list_path(@workspace, @list) %> |
  <%= link_to "Back to lists", workspace_lists_path(@workspace) %>
</div>
