<div class="d-flex align-items-center justify-content-center">
    <h1 class="title">My Notes<h1> 
</div>

<section class="section">
    <div class="container">
        <% @notes.each do |note| %>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"> 
                                <%= link_to note.title, note %>
                            </p>
                        </div>
                    </div>
                    <div class="content">
                        <%= note.content %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</section>