<section class="section">
    <div class="container">
        <h1 class="title">
            <%= @note.title %>
        </h1>
        <div class="content">
            <%= @note.content %>
        </div>
    </div>
</section>