<!DOCTYPE html>
<html>

  <div class="d-flex align-items-center justify-content-center">
      <h1 class="title">All Users<h1> 
  </div>


<table class="table">
  <thead>
    <tr>
      <th>List of Users</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <tr class="table-secondary">
          <td><%= user.email %></td>
          
        </tr>
      <% end %>
  </tbody>


</html>
