<!DOCTYPE html>
<html>

  <div class="d-flex align-items-center justify-content-center">
      <h1 class="title">Administrator Dashboard<h1> 
  </div>

<table class="table">
  <thead>
    <tr>
      <th>List of Users</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <tr class="table-secondary">
          <td><%= user.email %></td>
         <td><%= link_to 'Delete', user, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %></td>
        </tr>
      <% end %>
  </tbody>
  
</html>
