<div class="d-flex align-items-center justify-content-center">
  <h1 class="title ">My Expense Tracker</h1>     
</div>

<div><%= link_to "+ Add New Expense Details", new_expense_tracker_path, class: "btn btn-warning" %></div></br>
<div class="container">
  <div class="row">
    <div class="col-12" style="">
      <table class="table caption-top table-hover">
        <thead>
          <tr>
            <th style="text-align: center">Itinerary ID</th>
            <th style="text-align: center">Itinerary Name</th>
            <th style="text-align: center">Expense ID</th>
            <th style="text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody>
        <% if @expense_lists.exists? %>
          <%= render "expense_list" %>
        <% else %>
          <tr style="text-align: center"><td>Sorry, there's no itinerary found...</td></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
