<div>Please fill in the Expense Details</div>

<%= render "form", expense_tuple: @expense_tuple %>

<div><%= link_to " Back to Expense List", expense_trackers_path, class: "bi bi-backspace btn btn-secondary btn"%></div>