<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

        <style>
            #map { height: 350px; }
        </style>
    </head>

    <body>

        <input type="text" id="locationInput" placeholder="Search for a location">
        <button onclick="searchLocation()">Search</button>
        <button onclick="liveLocation">Current Location</button>


        <div id="map"></div>
        
    </body>

    <script>
        
        var map = L.map('map');
        map.setView([51.505, -0.09], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        navigator.geolocation.watchPosition(success, error);

        let marker, circle, zoomed; 

        function success(pos){

            const lat = pos.coords.latitude;
            const lng = pos.coords.longitude;
            const accuracy = pos.coords.accuracy;

            let marker = L.marker([lat,lng]).addTo(map);
            let circle = L.circle([lat,lng],{radius:accuracy}).addTo(map);
            
            map.fitBounds(circle.getBounds());

        }

        function error(err){

            if(err.code ===1){
                alert("Please Allow Geoloaction Access")
            }else{
                alert("Can not get Current Location")
            }
        }

        function searchLocation() {
            const locationInput = document.getElementById('locationInput').value;
          
            fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${locationInput}`)
              .then(response => response.json())
              .then(data => {
                if (data && data.length > 0) {
                  const result = data[0];
                  const lat = result.lat;
                  const lon = result.lon;
          
                  map.setView([lat, lon], 13);
                } else {
                  alert('Location not found');
                }
              })
              .catch(error => {
                console.error('Error fetching location data:', error);
              });
          }
          


    </script>

</html>
